#about{
    // position: relative;
    padding: 0 0 2rem 0;
    p{
        margin-bottom: -2rem;
        padding: 1rem;
        text-align: center;
    }

    img{
        width: 100%;
        padding: 1rem;
    }
}