$col-main: rgb(38,34,98);
$col-cta: #4CAF50;
$col-icons: lighten($col-main, 60%);
$col-background: #F9F9F9;
$col-gallery-background: rgb(180, 186, 192);
$col-lightgray: #F9F9F9;




html{
    font-size: 16px;
}
body{
    margin:0;
    padding: 0;
    font-family:"Roboto", Helvetica, Arial, sans-serif;
    background-color: $col-background;
    box-sizing: border-box;
}