@use 'base';

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: base.$col-main;
    color:white;
    font-size: 16px;
    line-height: 1.5rem;

    img{
        width: 15rem;
        padding: 1rem;
    }
}

.footer-icons{
    display: flex;
    align-items: center;

    ion-icon{
        margin-right: 0.5rem;
        font-size: 1.2rem;
    }

    p{
        margin:0;
    }
}


.follow{
    
    ion-icon{
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
    margin: 2rem 0;

}

#footer-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
}
.footer-link{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.call__number{
    text-decoration: none;
    color: white;
}
#copyright{
    text-transform: capitalize;
    text-align: center;
    color: gray;
    padding: 0.5rem;
}
