.front-banner{
    height: 80vh;
    background: url('/images/masterbath_highend-4.jpeg');
    background-size: cover;
    background-position: center;
    back


    &__writing{
        width: 80%;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-60%);
        text-transform: capitalize;
        color: white;
        text-align: center;

        p{
            text-shadow: 0 0 7px black;
            font-size: 3rem;
            
        }


    }
}


