@use 'base';

#photo-gallery{
    background-color: base.$col-main;
    color: white;
    margin: 1rem 0;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // box-shadow: 0 0 4px black;

    .heading{
        font-size: 2rem;
        margin:0;
    }

    ion-icon{
        font-size: 7rem;
        margin-right: 0.5rem;
        
    }

    button{
        background-color: base.$col-cta;
        border: none;
        color:white;
        padding: 0.5rem;
        text-transform: uppercase;
        width: 50%;
    }
}

.gallery-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    color: white;

    &__close-icon{
        font-size: 2.5rem;
        position: absolute;
        right:0;
        top:0;
        padding:0.5rem;
    }
    &__nextprev-icons{
        position: absolute;
        width: 100%;
        top: 50%;
        font-size: 3rem;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        text-shadow: 0 0 5px black;
    }
   

}

#gallery{
        position:absolute;
        top: 50%;
        width: 100%;
        height:70%;
        transform: translateY(-50%);

        .count{
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 1.2rem;
        }
        .gallery-img{
            position:absolute;
            width: 100%;
            top:0;
            left:0;
        }
}