@use 'base';

/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -25px;
    background: base.$col-main;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: white;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    padding-top: 0.5rem;
    width: 17vw;
    height: 17vw;
	z-index: 1000;
    background: none;
	// background: rgba(base.$col-main, 0.8);
    border-bottom-left-radius: 2rem;
    border: none;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: white;
    box-shadow: 0 0 3px black;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
    box-shadow: 0 0 3px black;
	background: white;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: white;
    text-shadow: 0 0 3px black;
}

.device {
	position: fixed;
    top: 0;
	width: 100%;
	height: 100%;
}

.container {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	overflow: hidden;
}




//my original stuff below

// header{
//     width: 100%;
//     z-index: 1;
//     color:white;
//     background-color: transparent;
// }


// .navigation{
//     position: -webkit-sticky;
//     position: sticky;
//     top:0;
//     padding: 0.5rem 1rem;
//     background-color: base.$col-main;
//     color: white;
//     z-index: 5;

//     &__bar{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         &-logo{
//             max-width: 10rem;
//         }
//         &-icon-menu{
//             font-size: 2rem;
//             color: white;
//         }
//     }

//     &__links{
//         list-style-type: none;
//         text-align: center;
//         height: 0;
//         overflow: hidden;
//         transition: height 0.5s;

//         &-toggle{
//             transform: scaleY(1);
//         }

//         li{
//             margin-top: 1rem;
//             text-transform: uppercase;
//             font-size: 15px;

//             a{
//                 text-decoration: none;
//                 color: white;
//             }
//             a:active{
//                 border-bottom: 2px solid white;
//             }

//         }
//     }
// }





// @media (min-width: 700px){
//     .navigation__horizontal-menu{
//         flex-grow: 1;
//         display: flex;
//         justify-content: flex-end;

//     }

//     .navigation__icon-phone, .navigation__icon-menu{
//         display: none;
//     }
 
// }

// @media (max-width: 400px){
//     .navigation__logo{
//         width: 50%;
//     }
// }




