@use 'base';

header{
    position: fixed;
    top:0;
    width: 100%;
    padding: 0;
    z-index: 1;
    // box-shadow: 0 3px 3px gray;
    color:white;
}

.header-bottom{
    display: flex;
    background-color: base.$col-main;
    color: white;
    text-transform: capitalize;
    padding: 0.3rem;
    justify-content: flex-end;

    ion-icon{
        font-size: 1.2rem;
    }
    p{
        margin: 0 0 0 0.5rem;
    }
}
.header-top{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    &__logo{
        width: 10rem;
    }
    &__icon{
        font-size: 2rem;
        margin-right: 1rem; 
        color: base.$col-main;
    }
}

.view-gallery{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    p{
        margin:0;

    }
    padding: 0.3rem;
    background-color: base.$col-cta;
}



