@use 'base';

header{
    width: 100%;
    z-index: 1;
    color:white;
    background-color: transparent;
}


.navigation{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: base.$col-main;
    color: white;
    z-index: 5;

    &__logo{
        max-width: 15rem;
    }
    &__icon-menu{
        font-size: 2rem;
        color: base.$col-main;
    }

    &__horizontal-menu{
        display: none;
        color: black;
        list-style-type: none;


        li{
            margin-left: 2rem;
        }
        
    }

}

.fixed-nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

@media (min-width: 700px){
    .navigation__horizontal-menu{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

    }

    .navigation__icon-phone, .navigation__icon-menu{
        display: none;
    }
 
}

@media (max-width: 400px){
    .navigation__logo{
        width: 50%;
    }
}




