@use './base/index';
@use './base/vars';
@use './sections/header';
@use './sections/about';
@use './sections/services';
@use './sections/gallery';
@use './sections/footer';

.section {
   padding: 5vw;

   &__heading-sm {
      color: vars.$col-cta;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.25em;
   }

   &__heading {
      font-size: clamp(1.8rem, 3vw, 3rem);
      margin: 1rem 0;
      text-transform: capitalize;
   }
}

.cta-buttons {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin-top: 1rem;
   white-space: nowrap;
   align-items: center;

   a[href="https://goo.gl/maps/HF2pg8mVfztjMiVZ7"]
   {
      margin: 0 auto;
      width: clamp(120px, 15vw, 240px);
   }
}
