@use './base/index';
@use './base/vars';
@use './sections/contact';
@use './sections/header';
@use './sections/about';
@use './sections/services';
@use './sections/gallery';
@use './sections/footer';
@use './sections/navigation';

.section {
   padding: 5vw;

   &__heading-sm {
      color: vars.$col-cta;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.25em;
   }

   &__heading {
      font-size: clamp(1.8rem, 3vw, 3rem);
      margin: 1rem 0;
      text-transform: capitalize;
   }

   &:nth-child(even) {
      background-color: vars.$col-bg;
   }
}

.modal {
   z-index: 999;
   background-color: rgba(19, 18, 18, 0.822);
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
}

.hidden {
   display: none;
}
