html {
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 100;
}

.header-bottom {
  display: flex;
  background-color: #a31e36;
  color: white;
  text-transform: capitalize;
  padding: 3px;
  justify-content: center;
}
.header-bottom p {
  margin: 0 0 0 0.5rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #a31e36;
}
.header-top__logo {
  width: 10rem;
}
.header-top__icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.header-phone {
  background-color: #34404d;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
}

.front-banner__img {
  height: 80vh;
  width: 100%;
}
.front-banner__writing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-transform: capitalize;
  color: white;
  text-align: center;
}
.front-banner__writing p {
  text-shadow: 0 0 7px black;
  font-size: 2.5rem;
}

.services {
  margin: 0 2rem;
  padding: 1rem;
  text-align: center;
  transform: translateY(-30%);
  background-color: white;
  box-shadow: 0 0 5px #5f5d5d;
  border-radius: 1rem;
}
.services__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
}
.services button {
  width: max-content;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: #a31e36;
  border: none;
  border-radius: 1rem;
  color: white;
}

.icon-services {
  padding: 1rem;
  margin: -4rem 0 0 0;
  text-align: center;
}
.icon-services ion-icon {
  margin-top: 1rem;
  font-size: 6rem;
  color: #699fb4;
}
.icon-services__heading {
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

#photo-gallery {
  color: white;
  margin: 1rem 1rem 3rem 1rem;
  background-image: url("/images/portfolio_image_1.jpg");
  background-position: center;
  background-size: cover;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #34404d;
}
#photo-gallery p {
  font-size: 2rem;
  text-transform: capitalize;
  text-shadow: 0 0 4px black;
}
#photo-gallery button {
  display: flex;
  align-items: center;
  background-color: #a31e36;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
#photo-gallery button ion-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34404d;
  color: white;
  font-size: 16px;
  line-height: 1.5rem;
}
footer img {
  width: 10rem;
}

.call__number:link {
  color: white;
}

.follow {
  margin: 2rem 0;
}
.follow ion-icon {
  font-size: 1.5rem;
}

#footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.footer-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#copyright {
  text-transform: capitalize;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
