@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-weight: 100;
  font-size: 1rem;
  color: white;
  background: rgb(38, 34, 98);
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact input[type=url],
#contact textarea,
#contact button[type=submit] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: rgb(38, 34, 98);
  padding: 25px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact input[type=url],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type=text]:hover,
#contact input[type=email]:hover,
#contact input[type=tel]:hover,
#contact input[type=url]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type=submit]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is-open {
  opacity: 1;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -25px;
  background: rgb(38, 34, 98);
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}

.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}

.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}

.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}

.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}

.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}

.main-nav a {
  display: block;
  padding: 12px 0;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  width: 17vw;
  height: 17vw;
  z-index: 1000;
  background: none;
  border-bottom-left-radius: 2rem;
  border: none;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 3px black;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  box-shadow: 0 0 3px black;
  background: white;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */
.burger-text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black;
}

.device {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.options button {
  padding: 10px 15px;
  font-size: medium;
}

.banner__btn-main, .banner__btn-sec {
  padding: 15px 20px;
  font-size: large;
}

.banner__btn-main {
  background-color: #3f83f8;
  color: white;
  background-color: #3f83f8;
}
.banner__btn-main:hover {
  background-color: #063c98;
}

.banner__btn-sec {
  background-color: aquamarine;
  border: 2px solid #3f83f8;
}

.banner__btn-sec, .banner__btn-main {
  border: 1px solid white;
}

.banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/gallery/main.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.banner__logo {
  width: 200px;
}
.banner__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.banner__main-text {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-shadow: 0px 0px 5px rgb(35, 33, 33);
  text-align: center;
}
@media (max-width: 500px) {
  .banner__main-text {
    font-size: 2rem;
  }
}
.banner__main-text .emphasis {
  text-decoration: underline;
}
.banner__btn-main {
  opacity: 0.8;
}
.banner__btn-sec {
  background-color: transparent;
  color: white;
}
.banner .flex-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .front__heading {
    font-size: 2.5rem;
    width: 100%;
    margin-left: 2rem;
  }
  .front__top, .front__bottom {
    flex-direction: row;
  }
}
.services {
  padding: 1rem;
}
.services__heading {
  width: 100%;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.services__cards .card {
  flex-basis: 300px;
  padding: 1rem;
  font-weight: 100;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.img:with .img:hover {
  opacity: 0.8;
}

.img-zoom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin-bottom: 1rem;
}
.options button {
  border: 1px solid rgb(179, 176, 176);
  border-radius: 2rem;
}

.footer {
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 1.5rem;
}
.footer__wrapper {
  display: flex;
  align-items: center;
}
.footer img {
  width: 400px;
}

#copyright {
  text-transform: capitalize;
  text-align: center;
  color: gray;
  padding: 0.5rem;
}

.tab-color-change {
  color: rgb(38, 34, 98);
}

.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1111;
  display: flex;
  list-style-type: none;
  box-shadow: 0 4px 4px 4px rgb(126, 124, 124);
  -webkit-padding-start: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background: white;
  color: #607d8b;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  user-select: none;
  text-transform: capitalize;
}
.tab svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 3px;
  background: rgb(38, 34, 98);
  margin-top: 58px;
  margin-left: 0;
  transition: transform 0.5s ease;
}

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .cercle {
  background: white;
}

.dark .cercle {
  background: black;
}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
  animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}
@keyframes touch {
  100% {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin: -300px;
  }
}
.section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__heading {
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}

.modal {
  z-index: 999;
  background-color: rgba(19, 18, 18, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
