@use '../base/variables';

button {
   border: none;
   cursor: pointer;
   background-color: transparent;
}

@mixin btn($bg-color, $text-color: white) {
   background-color: $bg-color;
   border-radius: 10px;

   @if $bg-color == transparent {
      border: 1px solid variables.$col-cta;
      color: variables.$col-cta;
   } @else {
      color: white;
   }

   &:hover {
      background-color: darken($bg-color, 10%);
   }
}

%btn-sm {
   padding: 5px 10px;
}
%btn-md {
   padding: 10px 15px;
   font-size: medium;
}
%btn-lg {
   padding: 15px 20px;
   font-size: large;
}

.btn-primary {
   @include btn(variables.$col-cta);
}

.btn-secondary {
   @include btn(transparent);
}

.btn-sm {
   padding: 5px 10px;
}
.btn-md {
   padding: 10px 15px;
}
.btn-lg {
   padding: 15px 20px;
}
