$col-main: rgb(38, 34, 98);
$col-cta: #3f83f8;
$col-icons: lighten($col-main, 60%);
$col-background: #f9f9f9;
$col-gallery-background: rgb(180, 186, 192);
$col-lightgray: #f9f9f9;
$col-svg-dull: rgb(75, 73, 73);
