@use '../base/vars';

.footer {
   a {
      display: inline-block;
   }

   &__phone,
   &__email,
   &__areas {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      svg {
         width: clamp(2rem, 4vw, 4rem);
      }
   }

   &__copyright {
      background-color: vars.$col-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: small;
      color: rgb(105, 104, 104);
   }

   &__map {
      height: 400px;
   }

   @media (min-width: vars.$screen-md) {
      display: flex;
      flex-wrap: wrap;

      & > * {
         flex: 1;
      }
      &__map {
         height: auto;
      }

      &__copyright {
         flex: none;
         width: 100%;
      }
   }
}
