@use '../components/buttons';
@use '../base/variables';

%btn-banner {
   @extend %btn-lg;
   border: 1px solid white;
}

.banner {
   position: relative;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../images/gallery/main.jpg');
   background-size: cover;
   background-position: center;
   color: white;

   &__logo {
      width: 200px;
   }

   &__wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
   }

   &__main-text {
      margin-bottom: 1rem;
      font-size: 3rem;
      text-shadow: 0px 0px 5px rgb(35, 33, 33);
      text-align: center;

      @media (max-width: 500px) {
         font-size: 2rem;
      }
      .emphasis {
         text-decoration: underline;
      }
   }

   &__btn-main {
      @extend %btn-banner;
      @extend %btn-primary;
      opacity: 0.8;
   }

   &__btn-sec {
      @extend %btn-banner;
      @extend %btn-secondary;
      background-color: transparent;
      color: white;
   }

   .flex-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media (min-width: 1000px) {
   .front {
      &__heading {
         font-size: 2.5rem;
         width: 100%;
         margin-left: 2rem;
      }
      &__top,
      &__bottom {
         flex-direction: row;
      }
   }
}
