@use '../components/buttons';
@use '../base/vars';

#images-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   // grid-auto-rows: ;
   gap: 1rem;
   justify-content: center;
   background-color: vars.$col-bg;

   button {
      aspect-ratio: 1;
   }
}

.img {
   width: 100%;
   height: 100%;
   object-fit: cover;

   &:with &:hover {
      opacity: 0.8;
   }
}
.img-zoom {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.options {
   display: flex;
   list-style-type: none;
   gap: 1rem;
   margin-bottom: 1rem;
   button {
      @extend %btn-md;
      border: 1px solid rgb(179, 176, 176);
      border-radius: 2rem;
   }
}
