@use '../base/vars';

.tab-color-change {
   color: vars.$col-main;
}

.tab-bar {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1111;
   display: flex;
   list-style-type: none;
   box-shadow: 0 4px 4px 4px rgb(126, 124, 124);
   -webkit-padding-start: 0;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 0;
   background: white;
   color: #607d8b;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   cursor: pointer;
   position: relative;
   user-select: none;
   text-transform: capitalize;
   svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
   }
}

.indicator {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 15%;
   height: 3px;
   background: vars.$col-main;
   margin-top: 58px;
   margin-left: 0;
   transition: transform 0.5s ease;
}

.cercle {
   width: 0px;
   height: 0px;
   position: absolute;
}

.light .cercle {
   background: white;
}
.dark .cercle {
   background: black;
}

.anim {
   opacity: 0.2;
   -webkit-animation: touch 1.2s ease-out;
   animation: touch 1.2s ease-out;
}

@-webkit-keyframes touch {
   100% {
      width: 600px;
      height: 600px;
      border-radius: 600px;
      opacity: 0;
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
      margin: -300px;
   }
}

@keyframes touch {
   100% {
      width: 600px;
      height: 600px;
      border-radius: 600px;
      opacity: 0;
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
      margin: -300px;
   }
}
