@use '../base/vars';

.services {
   padding: 1rem;
   &__heading {
      width: 100%;
   }

   &__cards {
      justify-content: center;
      gap: 1rem;
      list-style-position: inside;

      @media (min-width: vars.$screen-lg) {
         display: flex;
         justify-content: center;
      }
      .card {
         padding: 1rem;
         font-weight: 200;

         h3 {
            display: inline;
            text-transform: capitalize;
         }

         &::marker {
            color: vars.$col-cta;
            font-size: 2rem;
         }

         p {
            margin-top: 0.5rem;
         }
      }
   }
}
